apiVersion: kubeadm.k8s.io/v1alpha2
kind: MasterConfiguration
kubernetesVersion: v1.11.2
apiserverAdvertiseAddress: {{ internal_ip }}
nodeName: {{ inventory_hostname }}
apiServerCertSANs:
- "{{ lb_dns }}"
api:
    controlPlaneEndpoint: "{{ lb_dns }}:{{ lb_port|default(6443)}}"
etcd:
  local:
    extraArgs:
      listen-client-urls: "https://127.0.0.1:2379,https://{{ internal_ip }}:2379"
      advertise-client-urls: "https://{{ internal_ip }}:2379"
      listen-peer-urls: "https://{{ internal_ip }}:2380"
      initial-advertise-peer-urls: "https://{{ internal_ip }}:2380"
      initial-cluster: "{{ inventory_hostname }}=https://{{ internal_ip }}:2380"
    serverCertSANs:
      - {{ inventory_hostname }}
      - {{ internal_ip }}
    peerCertSANs:
      - {{ inventory_hostname }}
      - {{ internal_ip }}
networking:
    # This CIDR is a Calico default. Substitute or remove for your CNI provider.
    podSubnet: "{{ pod_network | default("192.168.0.0/16")}}"
